  <%- include('./partials/header.ejs') %>
    <link rel="stylesheet" href="./css/about.css">
    <link rel="stylesheet" href="./css/footer.css">
    <title><%= title %></title>
  </head>
<body>
  <section id="banner">
      <div class="banner">
        <%- include('./partials/nav.ejs') %>
        <div class="content">
            <h1>ABOUT US</h1>
        </div>
      </div>
  </section>

  <section class="our_church">
    <div class="meet_out_lead">
      <div class="container-fluid">
        <h2 class="worship_text">WORSHIP WITH US FOR ADVANCEMENT</h2>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h5>ABOUT OUR <b>CHURCH</b></h5>
            <p>We are the Church without boundaries and borders. We wholeheartedly believe and confess Jesus Christ to be the Way, the Truth, the Life. We are Anglo Catholic - High Church Anglicanism.Started in 2018, we bring a new vibrancy to the traditional tenets of the anglican faith. We invite you to join us each Sunday for Bible based study, heartfelt praise, song filled worship, and true Christian fellowship. Our Anglican Youth Ministry provides adolescents aged 5-12 with the resources and mentorship they need to develop a personal, lasting relationship with Jesus Christ.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mission_vission">
    <div class="container-fluid bg-purple">
      <div class="row">
        <!-- <div class="col-sm-4">
          
        </div> -->
        <div class="col">
          <h2>Our Mission and Vision </h2><br>
          <p><strong>MISSION:</strong> Welcoming everybody of every background into an ever deepening and personal relationship with Jesus Christ our Messiah</p><br>
          <p><strong>VISION:</strong> Continuously remain a vibrant community of Christian faith and worship serving, educating, and offering fellowship and support to all who seek Jesus Christ as the Messiah </p>
        </div>
      </div>
    </div>
  </section>

  <section class="meet_our_leads">
    <div class="meet_out_lead">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h5>MEET OUR LEADER</h5>
            <h1>PRIEST</h1>
            <h3>FATHER GIDEON A. UZOMECHINA</h3>
            <p>Having serve as a priest and missionary for over two decades following his seminary training in Nigeria and ordination into the Anglican Communion (Anglo Catholic tradition) as well as his Interfaith and Ecumenical studies in Israel, the Venerable Dr. Gideon Uzomechina, fondly called Father Gideon, is the Rector of spirit filled Anglican Church of the Messiah, Plainfield, the Archdeacon of New Jersey, and the Diocesan Director of Missions. Father Gideon is a certified Human Rights Consultant with the United States Institute of Diplomacy and Human Rights, Washington DC. He is also a certified U.S Law Enforcement Chaplain and serves as Spiritual Advisor at Substance and Alcohol Abuse Recovery Facility where his invaluable experience together with passion and empathy towards the vulnerable can never be over emphasized. He has worked with at-risk young men in New Brunswick and Plainfield and assisted them rediscover their purpose of life with positive change of attitudes which has helped most of them became responsible citizens. Father Gideon studied in Nigeria, Israel, and in the USA. His doctoral research work took him to Axum and Lalibela Ethiopia, Istanbul Turkey, Sinai Peninsula and Alexandria Egypt, Beirut Lebanon, Damascus Syria, Amman Jordan, Cape Coast Ghana, Rome and Vatican Italy, Canterbury and St. Albans Great Britain, and Bacoor Cavite Philippines. Father Gideon is a Professor of Pastoral Care and Spirituality, and has Interfaith and Ecumenical Certificate from Jerusalem, Israel, Diplomas in Theology and Religious Studies, Bachelor of Theology, Bachelor of Education in Guidance and Counseling from Nigeria, Master of Arts, Pastoral Counseling, and Doctor of Ministry, Theology and Spirituality from the USA. Father Gideon completed his Clinical Pastoral Education at Robert Wood Johnson University Hospital, New Brunswick, New Jersey.  He is a Fellow of Christian Theologians and Philosophers; and he’s honored with the Ambassador of Peace Award by the Universal Peace Federation, USA. Father Gideon enjoy spending time with his family and friends, caring and responding to their needs.</p>
            <p><i class="fa fa-facebook"></i> <i class="fa fa-twitter"></i></p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img class="rounded-circle" src="./img/priest1.jpg"  width="90%" height="90%" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="meet_our_leads">
    <div class="meet_out_lead">
      <div class="container-fluid">
        <div class="row theology">
          <div class="col">
            <h5>OUR THEOLOGY</h5>
            <p>The Anglican Church of the Messiah wholeheartedly believes and confesses Jesus Christ to be the way, the Truth, and the Life. No one comes to the Father, but by Him. </p>
            <ul>
              <li><h5>We confess:</h5></li>
              <li> The canonical books of the Old and New Testaments to be the inspired Word of God, containing all things necessary for salvation. and to be the final authority and unchangeable standard for Christian faith and life</li>
              <li>  The Baptism and the Supper of the Lord to be Sacraments ordained by Christ Himself in the Gospel, and thus to be ministered with unfailing use of His words of institution and of the elements ordained by Him;</li>
              <li>  The godly historic Episcopate as an inherent part of the apostolic faith and practice, and therefore as integral to the fullness and unity of the Body of Christ:</li>
              <li>  The historic faith of the undivided church as declared in the three Catholic Creeds: the Apostles', the Nicene, and the Athanasian.</li>
            </ul><br>
            
            <ul>
              <li><h5> We affirm:</h5></li>
              <li> The teaching of the first four Councils and the Christological clarifications of the fifth, sixth and seventh Councils, in so far as they are agreeable to the Holy Scriptures.</li>
            </ul><br>
                
            <ul>
              <li><h5> We receive:</h5></li>
              <li> The Book of Common Prayer as set forth by the Church of England in 1662, together with the Ordinal attached to the same, as a standard for Anglican doctrine and discipline, and, with the Books which preceded it, as the standard for the Anglican tradition of worship: The Thirty-Nine Articles of Religion of 1562, taken in their literal and grammatical sense, as expressing the Anglican response to certain doctrinal issues controverted at that time, and as expressing the fundamental principles of authentic Anglican belief</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

    <section class="faq">
      <h3 class="text-center mb-4 pb-2 fw-bold">FAQ</h3>
      <p class="text-center mb-5">
        Find the answers for the most frequently asked questions below
      </p>
      
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
          <h5 class="mb-3 "><i class="fa fa-question" aria-colspan="" aria-hidden="true"></i> A simple
            question?</h5>
          <p>
            <strong><u>Absolutely!</u></strong> We work with top payment companies which guarantees
            your
            safety and
            security. All billing information is stored on our payment processing partner.
          </p>
        </div>
      
        <div class="col-md-6 col-lg-4 mb-4">
          <h5 class="mb-3"><i class="fa fa-question" aria-colspan="" aria-hidden="true"></i> A question
            that
            is longer then the previous one?</h5>
          <p>
            <strong><u>Yes, it is possible!</u></strong> You can cancel your subscription anytime in
            your
            account. Once the subscription is
            cancelled, you will not be charged next month.
          </p>
        </div>
      
        <div class="col-md-6 col-lg-4 mb-4">
          <h5 class="mb-3"><i class="fa fa-question" aria-colspan="" aria-hidden="true"></i> A question
            that
            is longer then the previous one?</h5>
          <p>
            <strong><u>Yes, it is possible!</u></strong> You can cancel your subscription anytime in
            your
            account. Once the subscription is
            cancelled, you will not be charged next month.
          </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <h5 class="mb-3"><i class="fa fa-question" aria-colspan="" aria-hidden="true"></i> A question
            that
            is longer then the previous one?</h5>
          <p>
            <strong><u>Yes, it is possible!</u></strong> You can cancel your subscription anytime in
            your
            account. Once the subscription is
            cancelled, you will not be charged next month.
          </p>
        </div>
      
        <div class="col-md-6 col-lg-4 mb-4">
          <h5 class="mb-3"><i class="fa fa-question" aria-colspan="" aria-hidden="true"></i> A question
            that
            is longer then the previous one?</h5>
          <p>
            <strong><u>Yes, it is possible!</u></strong> You can cancel your subscription anytime in
            your
            account. Once the subscription is
            cancelled, you will not be charged next month.
          </p>
        </div>
      
        <div class="col-md-6 col-lg-4 mb-4">
          <h5 class="mb-3"><i class="fa fa-question" aria-colspan="" aria-hidden="true"></i> A question
            that
            is longer then the previous one?</h5>
          <p>
            <strong><u>Yes, it is possible!</u></strong> You can cancel your subscription anytime in
            your
            account. Once the subscription is
            cancelled, you will not be charged next month.
          </p>
        </div>
      </div>
    </section>

    <!--OUR TEAM-->
    <%- include('./partials/team.ejs') %>  
    <%- include('./partials/footer.ejs') %> 