  <%- include('./partials/header.ejs') %>
    <link rel="stylesheet" href="./css/event.css">
    <link rel="stylesheet" href="./css/footer.css">
    <title><%= title %></title>
  </head>
<body>
  <section id="banner">
    <div class="banner">
      <%- include('./partials/nav.ejs') %>
      <div class="content">
        <h1>Events</h1>
      </div>
    </div>
  </section>

  <%- include('./partials/specialevent.ejs') %>    
  <%- include('./partials/weeklyevent.ejs') %>   
  <%- include('./partials/footer.ejs') %>   
  
