<%- include('./partials/header.ejs') %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
    <link rel="stylesheet" href="./css/gallery.css">
    <link rel="stylesheet" href="./css/footer.css">
    <title><%= title %></title>
  </head>
<body>
  <section id="banner">
    <div class="banner">
      <%- include('./partials/nav.ejs') %>
        <div class="content">
          <h1>Gallery</h1>
        </div>
    </div>
  </section>

<%- include('./partials/uploadsection.ejs') %>

<%- include('./partials/footer.ejs') %>