<%- include('./partials/header.ejs') %>
<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="./css/footer.css">
<title><%= title %></title>
</head>
<body>
  <section id="banner">
    <div class="banner">
      <%- include('./partials/nav.ejs') %>
      <div class="content">
        <h1 class="wow fadeInDown" data-wow-delay="0.2s">THE ANGLICAN CHURCH OF  THE MESSIAH</h1>
        <p class="wow fadeInDown"   data-wow-delay="0.3s">Come join us at the Church of the Messiah where Jesus the Messiah will meet your needs.</p>
      </div>
      <div class="time_link">
        <p>JOIN US ON SUNDAY AT 11:00 AM  <a href="https://www.facebook.com/anglicanchurchofthemessiah/"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="https://twitter.com/AnglicanChurch6?t=I2RpF63kqoZLB7x5uyz01Q&s=09"><i class="fa fa-twitter" aria-hidden="true"></i></a></p>
      </div>

      <div class="time_btn">
        <a href="/form"><button class="button">JOIN US</button></a>
      </div>
    </div>
  </section>
  <%- include('./partials/specialevent.ejs') %>
  <%- include('./partials/weeklyevent.ejs') %>
  <section class="mission_vission">
    <div class="container bg-purple">
      <div class="row">
        <!-- <div class="col-sm-4">
          
        </div> -->
        <div class="col">
          <h2>Our Mission and Vision </h2><br>
          <p><strong>MISSION:</strong> Welcoming everybody of every background into an ever deepening and personal relationship with Jesus Christ our Messiah</p><br>
          <p><strong>VISION:</strong> Continuously remain a vibrant community of Christian faith and worship serving, educating, and offering fellowship and support to all who seek Jesus Christ as the Messiah </p>
        </div>
      </div>
    </div>
  </section>

  <!--Meet our lead-->
  
  <section class="meet_our_leads">
    <div class="meet_out_lead">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h5>MEET OUR LEADER</h5>
            <h1>PRIEST</h1>
            <h3>FATHER GIDEON A. UZOMECHINA</h3>
            <p>Having serve as a priest and missionary for over two decades following his seminary training in Nigeria and ordination into the Anglican Communion (Anglo Catholic tradition) as well as his Interfaith and Ecumenical studies in Israel, the Venerable Dr. Gideon Uzomechina, fondly called Father Gideon, is the Rector of spirit filled Anglican Church of the Messiah, Plainfield, the Archdeacon of New Jersey, and the Diocesan Director of Missions. Father Gideon is a certified Human Rights Consultant with the United States Institute of Diplomacy and Human Rights, Washington DC. He is also a certified U.S Law Enforcement Chaplain and serves as Spiritual Advisor at Substance and Alcohol Abuse Recovery Facility where his invaluable experience together with passion and empathy towards the vulnerable can never be over emphasized. He has worked with at-risk young men in New Brunswick and Plainfield and assisted them rediscover their purpose of life with positive change of attitudes which has helped most of them became responsible citizens. </p>
            <p><i class="fa fa-facebook"></i> <i class="fa fa-twitter"></i></p>
            <button class="button">LEARN MORE</button>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img class="rounded-circle" src="./img/priest1.jpg"  width="90%" height="90%" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="Baptized">
    <div class="container Baptized_me">
      <h3 class="baptize_text">Get your Kids Baptized</h3>
      <a href="/baptismForm"><button class="button">LEARN MORE</button></a>
    </div>
  </section>


  <!--ministries-->
  <div class="blog-home2 py-5">
    <div class="container">
      <!-- Row  -->
      <div class="row justify-content-center">
        <!-- Column -->
        <div class="col-md-8 text-center">
          <h3 class="my-3">Our Ministries</h3>
          <h6 class="subtitle font-weight-normal">Join our growing ministry blessed with wonderful pastors </h6>
        </div>
        <!-- Column -->
        <!-- Column -->
      </div>
      <div class="row mt-4">
        <!-- Column -->
        <div class="col-md-4 on-hover wow fadeIn"  data-wow-delay="0.1s">
          <div class="card border-0 mb-4">
            <img class="card_img card-img-top" src="./img/children ministry.jpg" alt="wrappixel kit">
            <h5 class="font-weight-medium mt-3">Anglican Children Ministry</h5>
            <p class="mt-3">Our Anglican children ministry provides adolescents aged 5-12 with the resources and mentorship they need to develop a personal, lasting relationship with Jesus Christ</p>
            <a href="https://en.wikipedia.org/wiki/Septuagesima" class="text-decoration-none linking text-themecolor mt-2">Learn More</a>
          </div>
        </div>

        <!-- Column -->
        <div class="col-md-4 on-hover wow fadeIn"  data-wow-delay="0.2s">
          <div class="card border-0 mb-4">
           <img class="card_img card-img-top" src="./img/youth.jpg" alt="wrappixel kit">
           <h5 class="font-weight-medium mt-3">Anglican Youth Ministry</h5>
            <p class="mt-3">Our Anglican children ministry provides adolescents aged 13-19 with the resources and mentorship they need to develop a personal, lasting relationship with Jesus Christ</p>
            <a href="#" class="text-decoration-none linking text-themecolor mt-2">Learn More</a>
          </div>
        </div>
        <!-- Column -->
        <div class="col-md-4 on-hover wow fadeIn"  data-wow-delay="0.3s">
          <div class="card border-0 mb-4">
           <img class="card_img card-img-top" src="./img/adult_img.jpg" alt="wrappixel kit">
            <h5 class="font-weight-medium mt-3">Anglican Adult Ministry</h5>
            <p class="mt-3">Our Anglican children ministry provides adolescents aged 20 and above with the resources and mentorship they need to develop a personal, lasting relationship with Jesus Christ </p>
            <a href="#" class="text-decoration-none linking text-themecolor mt-2">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="join_us_column">
    <div class="container Baptized_me">
      <h3 class="baptize_text">Join us at the Anglican Church of the Messiah</h3>
      <a href="/form"><button class="button">JOIN US</button></a>
    </div>
  </section>  

<!--messages-->
<section class="msgs">
  <div class="msgs_section">
    <div class="container">
      <!-- <h3 class="my-3">Our Messages</h3> -->
      <div class="firstVideo row wow fadeInRight">
        <div class=" col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="video-player" id="videoPlayer">
            <video width="100%" id="myVideo" controls autoplay>
              <source src="./video/VID-20220216-WA0014.mp4">
            </video>
            <!-- <img src="/img/close.png" class="close-btn" onclick="stopVideo()" alt=""> -->
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
          <div class="row msg">
            <div class="col">
              <div class="video-player" id="videoPlayer">
                <video width="75%" id="myVideo" controls>
                  <source src="./video/VID-20220216-WA0015.mp4">
                </video>
                <!-- <img src="/img/close.png" class="close-btn" onclick="stopVideo()" alt=""> -->
              </div>
            </div>
          </div>

          <div class="row msg">
            <div class="col">
              <div class="video-player" id="videoPlayer">
                <video width="75%" id="myVideo" controls>
                  <source src="./video/church.mp4">
                </video>
                <!-- <img src="/img/close.png" class="close-btn" onclick="stopVideo()" alt=""> -->
              </div>
            </div>
          </div>
        </div>

        <div class="row msg">
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <div class="video-player" id="videoPlayer">
              <h1 class="invited">COME <br>WORSHIP <br>WITH US</h1>
            </div>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>
</section>






<section class="msgs">
  <div class="msgs_section">
    <div class="container">

      <div class="row wow fadeInLeft">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="video-player" id="videoPlayer">
            <h1 class="coffee">OUR COFFEE HOURS</h1>
            <p class="text_data">AFTER SUNDAY MASS</p>
          </div>
        </div>

        <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="video-player" id="videoPlayer">
            <video width="75%"  id="myVideo" controls>
              <source src="./video/coffee.mp4">
            </video>
            <!-- <img src="/img/close.png" class="close-btn" onclick="stopVideo()" alt=""> -->
          </div>
        </div>

      </div>

    </div>
  </div>
</section>

  <!--Contact-->
  <section class="contact_us">
    <div class="container contact-form">
      <form action="https://formsubmit.co/anglicanmessiah2018@gmail.com" method="POST">    
        <h3 style="color: #fff;">Drop Us a Message</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" name="name" class="form-control" placeholder="Your Name" value="" />
            </div>

            <div class="form-group">
              <input type="hidden" name="_subject" value="New submission!">
            </div>

            <div class="form-group">
              <input type="hidden" name="_captcha" value="false">
            </div>

            <div class="form-group">
              <input type="hidden" name="_next" value="https://anglican-church-of-the-messiah.herokuapp.com/thankyou">
            </div>

            <div class="form-group">
              <input type="email" name="email" class="form-control" placeholder="Your Email " value="" />
            </div>
            <div class="form-group">
              <input type="number" name="phone" class="form-control" placeholder="Your Phone Number" value="" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <textarea name="msg" class="form-control" placeholder="Your Message" style="width: 100%; height: 150px;"></textarea>
            </div>
            <div class="form-group">
              <button class="button">Send Message</button>
          </div>
          </div>
        </div>
      </form>
  </div>
  </section>

  <%- include('./partials/team.ejs') %>

  <section class="donate">
    <div class="container">
      <!-- <h3 class="donate_text"></h3> -->
      <form action="https://www.paypal.com/donate" method="post" target="_top">
        <input type="hidden" name="hosted_button_id" value="NER4634DQMS8J" />
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_NG/i/scr/pixel.gif" width="1" height="1" />
      </form>       
    </div>
  </section>  

  <%- include('./partials/footer.ejs') %> 
  